{% extends "td_biblio/layouts/two_cols_left_sidebar.html" %}
{% load i18n %}

{% block left_sidebar_extras %}

<h3>{% trans "Filters" %}</h3>

<h5>{% trans "Publications" %} {{ n_publications_filter }}/{{ n_publications_total }}</h4>

<form method="get" action="" class="publication-filters-form custom">

    <label for="filter-year">{% trans "Year" %}</label>
    <select name="year" id="filter-year">
        <option value="">
            {% trans "All" %}
        </option>
        {% for publication_year in publication_years %}
        <option value="{{ publication_year.year }}" {% if publication_year.year == current_publication_year.year %}selected="selected"{% endif %}>
            {{ publication_year.year }} {{ current_year }}
        </option>
        {% endfor %}
    </select>
</form>

{% endblock left_sidebar_extras %}

{% block main_content %}

<h2>{% trans "Publications" %}</h2>

{% regroup entry_list by publication_date.year as entry_years %}

<ul class="publication-list-years">
{% for entry_year in entry_years %}
    <li class="publication-list-year">
        <a name="{{ entry_year.grouper }}"></a>
        <span>{{ entry_year.grouper }}</span>
        <ul class="publication-list">
        {% for entry in entry_year.list %}
            <li class="publication">
                {{ entry }}
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination-centered">

    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}" class="pagination">&laquo;</a></li>
        {% endif %}
        <li class="current">
            <a href="">{{ page_obj.number }}</a>
            {{ page_obj.start_index }} - {{ page_obj.end_index }}</li>
        {% if page_obj.has_next %}
        <li class="arrow"><a href="?page={{ page_obj.next_page_number }}" class="pagination">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

{% endblock main_content %}

